{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-left:540px;width:200px;margin-top: 50px;height: 400px;padding-left: 16px;background-color: #868686;border-radius:30px;border:solid #000000" >
        <br><br>
        <h1 style="">TODO.COM</h1>
    {{ form(f) }}

</div>
{% endblock %}
